body {
    background: #AA3A3A;
    font-family: "Courier 10 Pitch";
}

div {
    background: #e0d5c5;
    margin: auto;
    width: 90%;
    padding-bottom: 100px;
    padding-top: 10px;
    border-radius: 25px;
}


